SQLAlchemy==0.8.2
git+https://github.com/victorlin/zope.sqlalchemy.git@bugfix-keep-session-with-flush
nose==1.3.0
python-dateutil==1.5
balanced==0.11.15
pyramid==1.4.3
pyramid_debugtoolbar==1.0.8
pyramid_tm==0.7
pyramid_mako==0.2
iso8601==0.1.4
pytz==2013b
WTForms==1.0.4
Alembic==0.6.0
